$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$extra-large-desktop: 1400px;

@mixin breakpoint($size) {
    @if $size ==mobile {
        @media (max-width: $mobile) {
            @content;
        }
    }

    @if $size ==tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }

    @if $size ==desktop {
        @media (max-width: $desktop) {
            @content;
        }
    }

    @if $size ==large-desktop {
        @media (max-width: $large-desktop) {
            @content;
        }
    }

    @if $size ==extra-large-desktop {
        @media (max-width: $extra-large-desktop) {
            @content;
        }
    }
}

@mixin flex-col ($align: center, $justify: space-between) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: column;
}

@mixin flex-row ($align: center, $justify: space-between) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: row;
}

@mixin glass {
    backdrop-filter: blur(1.1px);
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}