@import 'variables';
@import 'mixins'; // Dart Sass automatically looks for _mixins.scss

.dash-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light-bg0; // Use a variable instead of #f1f3f5
    min-height: 100vh;
    padding: 20px;
    transition: background-color 0.3s ease;

    @include dark-mode {
        background-color: $dark-bg0;
    }
}

