@import 'variables';
@import 'mixins';

@media (prefers-color-scheme: light) {

    body {
        background-color: $light-bg0;
        color: $light-text0;
        overflow-x: scroll;
    }

    .footer {
        border-top: 1px solid $light-bd1;
        bottom: 0;
        background: $light-bg0;
        display: flex;
        align-items: center;
        height: 6.5rem;
        justify-content: space-around;
        padding-bottom: env(safe-area-inset-bottom);
        position: fixed;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: $dark-bg0;
        color: $dark-text0;
    }

    .footer {
        border-top: 1px solid #e2e8f0;
        bottom: 0;
        background: $dark-bg0;
        display: flex;
        align-items: center;
        height: 6.5rem;
        justify-content: space-around;
        padding-bottom: env(safe-area-inset-bottom);
        position: fixed;
        width: 100%;
    }
}

